{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
        <div class="header">
            <a href="{% url "main" %}" class="logo"></a>
            {% include 'mainapp/includes/inc_main_menu.html' %}
            <a href="#" class="search"></a>
        </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links">
            {% include 'mainapp/includes/inc_specialists_menu.html' %}
        </div>
        <div class="specialist_content">
            <div class="specialist_block">
                <img class="specialist_photo" src="{% static 'img/anastasiya_photo.jpg' %}" alt="Svetlana">
                <div class="specialist_text">
                    <h2 class="h2_specialist">Кашина Анастасия Алексеевна</h2>
                    <h3 class="h3_specialist">тел.: 8 (925) 711-32-44</h3>
                    <h4 class="h4_specialist">Психолог по работе с детьми и подростками</h4>
                    <ul>
                        <li> психологическая диагностика готовности ребенка к обучению в 1 классе</li>
                        <li> решение проблем в отношениях со сверстниками</li>
                        <li> утрата контакта с родителями</li>
                        <li> диагностика и помощь детям с трудностями в обучении</li>
                        <li> помощь при страхах и тревожных состояниях</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
