{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
        <div class="header">
            <a href="{% url "main" %}" class="logo"></a>
            {% include 'mainapp/includes/inc_main_menu.html' %}
            <a href="#" class="search"></a>
        </div>
{% endblock %}

{% block content %}

    <div class="details">
        <div class="links">
            {% include 'mainapp/includes/inc_specialists_menu.html' %}
        </div>

        <div class="specialist_content">
                <div class="specialist_block">
                    <img class="specialist_photo" src="/media/{{ specialist01.image }}" alt="фото">
                    <div class="specialist_text">
                        <h2 class="h2_specialist">{{ specialist01.full_name | title}}</h2>
                        <h3 class="h3_specialist">{{ specialist01.tel}}</h3>
                        <h4 class="h3_specialist">{{ specialist01.profession}}</h4>
                        <h4 class="h4_specialist">Специализация:</h4>
                        <ul class="specialist_ul">
                            <li class="specialist_li"> {{ specialist01.skills01 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills02 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills03 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills04 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills05 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills06 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills07 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills08 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills09 }}</li>
                            <li class="specialist_li"> {{ specialist01.skills10 }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="specialist_text">
                <h4 class="h4_specialist">Образование:</h4>
                <ul class="specialist_ul ">
                    <li class="specialist_li"> {{ specialist01.education01 }}</li>
                    <li class="specialist_li"> {{ specialist01.education02 }}</li>
                    <li class="specialist_li"> {{ specialist01.education03 }}</li>
                    <li class="specialist_li"> {{ specialist01.education04 }}</li>
                    <li class="specialist_li"> {{ specialist01.education05 }}</li>
                    <li class="specialist_li"> {{ specialist01.education06 }}</li>
                    <li class="specialist_li"> {{ specialist01.education07 }}</li>
                    <li class="specialist_li"> {{ specialist01.education08 }}</li>
                    <li class="specialist_li"> {{ specialist01.education09 }}</li>
                    <li class="specialist_li"> {{ specialist01.education10 }}</li>
                </ul>
            </div>

            <div class="before_footer">
            </div>

    </div>
{% endblock %}

