{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
        <div class="header">
            <a href="{% url "main" %}" class="logo"></a>
            {% include 'mainapp/includes/inc_main_menu.html' %}
            <a href="#" class="search"></a>
        </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links">
            {% include 'mainapp/includes/inc_specialists_menu.html' %}
        </div>
        <div class="specialist_content">
            <div class="specialist_block">
                <img class="specialist_photo" src="{% static 'img/svetlana_photo.jpg' %}" alt="Svetlana">
                Тут будет контент по Светлане Тут будет контент по СветланеТут будет контент по СветланеТут будет контент по СветланеТут будет контент по СветланеТут будет контент по СветланеТут будет контент по СветланеТут будет контент по СветланеТут будет контент по СветланеТут будет контент по СветланеТут будет контент по Светлане
            </div>
        </div>

    </div>
{% endblock %}
