{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
        <div class="header">
            <a href="{% url "main" %}" class="logo"></a>
            {% include 'mainapp/includes/inc_main_menu.html' %}
            <a href="#" class="search"></a>
        </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links">
            {% include 'mainapp/includes/inc_specialists_menu.html' %}
        </div>
        <div class="specialist_content">
            <div class="specialist_block">
                <img class="specialist_photo" src="{% static 'img/svetlana_photo.jpg' %}" alt="Svetlana">
                <div class="specialist_text">
                    <h2 class="h2_specialist">САМОРЯДОВА СВЕТЛАНА НИКОЛАЕВНА</h2>
                    <h3 class="h3_specialist">тел.: 8 (909) 944-79-81</h3>
                    <h4 class="h4_specialist">Практикующий психолог, гештальт-консультант</h4>
                    <ul>
                        <li> детско-родительские отношения</li>
                        <li> партнёрские (супружеские) отношения</li>
                        <li> поиск себя и предназначение</li>
                        <li> выстраивание личных границ</li>
                        <li> неуверенность в себе</li>
                        <li> тревога и страхи</li>
                        <li> постоянное чувство вины</li>
                        <li> сепарация и отпускание</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
