{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
        <div class="header">
            <a href="{% url "main" %}" class="logo"></a>
            {% include 'mainapp/includes/inc_main_menu.html' %}
            <a href="#" class="search"></a>
        </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links">
            {% include 'mainapp/includes/inc_specialists_menu.html' %}
        </div>
        <div class="specialist_content">
            <div class="specialist_block">
                <img class="specialist_photo" src="{% static 'img/tatyana_photo.jpg' %}" alt="Svetlana">
                <div class="specialist_text">
                    <h2 class="h2_specialist">Жемаева Татьяна Владимировна</h2>
                    <h3 class="h3_specialist">тел.: 8 (967) 174-63-77</h3>
                    <h4 class="h4_specialist">Преподаватель чистописания и каллиграфии</h4>
                    <ul>
                        <li> диагностика готовности ребенка к письму </li>
                        <li> коррекция почерка</li>
                        <li> обучение почерку с «0», посадка, положение листа, захват ручки</li>
                        <li> нейропсихологический подход</li>
                        <li> обучение/коррекция почерка взрослых, для обучения своих детей на дому</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
