{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
        <div class="header">
            <a href="{% url "main" %}" class="logo"></a>
            {% include 'mainapp/includes/inc_main_menu.html' %}
            <a href="#" class="search"></a>
        </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links">
            {% include 'mainapp/includes/inc_specialists_menu.html' %}
        </div>
        <div class="specialist_content">
            <div class="specialist_block">
                <img class="specialist_photo" src="{% static 'img/lidiya_photo.jpg' %}" alt="Lidiya">
                <div class="specialist_text">
                    <h2 class="h2_specialist">КОМАРОВА ЛИДИЯ ВЛАДИМИРОВНА</h2>
                    <h3 class="h3_specialist">тел.: 8 (916) 071-88-20</h3>
                    <h4 class="h4_specialist">Психолог-конфликтолог, нутрициолог</h4>
                    <ul>
                        <li> проблемы с отношением к себе, самооценка</li>
                        <li> сложности в отношениях с людьми (с партнером, родителями и другими людьми)</li>
                        <li> беспокоят чувства и эмоции</li>
                        <li> помощь при страхах и тревожных состояниях</li>
                        <li> недостаток сил и энергии</li>
                        <li> проблемы в карьере и отношениях из-за лишнего веса</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
