@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
* {
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
}

.line {
	height: 6px;
	border: none;
	background: linear-gradient(45deg, #e9fffe, #018e8a);
}

.footer_line {
	height: 6px;
	border: none;
	background: linear-gradient(45deg, #018e8a, #e9fffe);
	margin-bottom: 30px;
}

.container {
	width: 100%;
	background-size: cover;
	background-color: #e9fffe;
}

.container_1200 {
	width: 1200px;
	margin: 0 auto;
	min-height: 100%;
	background-size: cover;
	background-color: #e9fffe;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
    margin: 0 auto;
}

.logo {
	background-image: url(img/logo.png);
	margin-top: 30px;
	width: 165px;
	height: 175px;
	background-size: cover;
	float: left;
}

.menu {
	list-style-type: none;
	float: right;
}

.menu li {
	float: left;
}

.menu a {
	color: rgb(11, 186, 181);
	font-size: 14px;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 30px;
}

.menu .active {
	color: #018e8a;
	font-weight: 700;
	border-bottom: 3px solid #018e8a;
}

/*.menu a:hover {*/
/*	color: #018e8a;*/
/*	font-weight: 700;*/
/*	border-bottom: 3px solid #018e8a;*/
/*}*/

/*.menu a:active {*/
/*	color: #018e8a;*/
/*	font-weight: 700;*/
/*	border-bottom: 3px solid #018e8a;*/
/*}*/

.search {
	display: block;
	width: 23px;
	height: 23px;	
	background-image: url(img/search_cyan.png);
}

.text-slider {
	margin-top: 30px;
	width: 100%;
}

.main_block {
	width: 1200px;
	height: 700px;
	color: #018e8a;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.green {
	color: #018e8a;
	font-size: 28px;
	text-align: center;
	margin-bottom: 50px;
	line-height: 13px;
	letter-spacing: 1px;
}

.big {
	color:  #018e8a;
	font-size: 59px;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;
}

.featured {
	/*padding-left: 100px;*/
	/*padding-right: 100px;*/
	/*height: 100%;*/
	text-align: center;
}

.footer {
	height: 200px;
	width: 100%;
	background-color: #e9fffe;
}

.container__footer {
	height: 100%;
	text-align: center;
	width: 100%;
}

.h2_footer {
	color: rgb(11, 186, 181);
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
	margin-bottom: 30px;
}

.h3_footer {
	color: rgb(11, 186, 181);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
	margin-bottom: 20px;
}

.copyright {
	color: rgb(11, 186, 181);
	font-size: 12px;
}

.location {
	width: 100%;
}
.location-1 {
	height: 320px;
    width: 320px;
	border: 4px solid rgb(11, 186, 181);
	padding: 15px;
    border-radius: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* карта контактов*/
.contacts__map{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: stretch;
	border: 4px solid rgb(11, 186, 181);
	padding: 15px;
    border-radius: 50px;
}

.contacts_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.location i {
	display: block;
	margin: 20px auto 0px;
	width: 38px;
}
.location h4 {
	margin: 23px auto 23px;
	text-transform: uppercase;
	text-align: center;
	color: rgb(11, 186, 181);
	font-size: 22px;
	font-weight: 700;
	line-height: 16px;
}

.contacts {
	text-align: center;
	margin-bottom: 15px;
	line-height: 14px;
	color:  rgb(11, 186, 181);
	font-size: 14px;
	font-weight: 700;
}
.contacts h5 {
	color: rgb(11, 186, 181);
	font-size: 14px;
	font-weight: 700;
}

.fa-map-marker {
	color: rgb(11, 186, 181);
}

.details {
	width: 1200px;
	margin-top: 30px;
}


.links {
	height: 100%;
	background-color: rgb(11, 186, 181);
    /*display: flex;*/
    /*justify-content: space-around;*/
}
.links-menu {
	margin:	27px auto 0px;	
    display: flex;
    justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: rgb(11, 186, 181);
}

.links-menu li {
	float: left;
	list-style-type: none;
	padding: 10px
}

.links-menu li a {
	text-decoration: none;
	color:  #003836;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.links-menu .active {
	color: #e9fffe;
	font-size: 18px;
	font-weight: 700;
}

/*.links-menu li a:hover {*/
/*	color:  #212121;*/
/*	font-size: 18px;*/
/*	font-weight: 700;*/
/*}*/

/*.links-menu li a:active {*/
/*	color:  #6c6c6c;*/
/*	font-size: 18px;*/
/*	font-weight: 700;*/
/*}*/

.h1_contacts {
	text-align: center;
	text-transform: uppercase;
    color: #018e8a;
    font-size: 28px;
    margin-bottom: 50px;
	margin-top: 50px;
    line-height: 13px;
    letter-spacing: 1px;
}

.specialist_text {
	color: rgb(11, 186, 181);
}

.specialist_photo {
	width: 500px;
	border:4px solid rgb(11, 186, 181); padding:15px;
    border-radius: 50px;
	margin: 50px 50px 50px 20px;
}

.specialist_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.h2_specialist {
	margin-bottom: 30px;
	text-transform: uppercase;
}

.h3_specialist {
	margin-bottom: 30px;
}

.h4_specialist {
	margin-bottom: 15px;
}

.specialist_li {
	margin-bottom: 15px;
}

.before_footer {
	height: 50px;
}

.main_photo {
	width: 500px;
	height: 600px;
	border:4px solid rgb(11, 186, 181); padding:15px;
    border-radius: 50px;
}

/*версия планшета*/
@media (max-width: 1024px) {
	.line {
	height: 6px;
	border: none;
	background: linear-gradient(45deg, #e9fffe, #018e8a);
	}

	.footer_line {
		height: 6px;
		border: none;
		background: linear-gradient(45deg, #018e8a, #e9fffe);
		margin-bottom: 30px;
	}

	.container {
		/*width: 1366px;*/
		width: 100%;
		margin: 0 auto;
		min-height: 100%;
		background-color: #e9fffe;
	}

	.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
    margin: 0 auto;
	}

	.location {
		width: 100%;
	}

	.location-1 {
	height: 320px;
    width: 320px;
	border: 4px solid rgb(11, 186, 181);
	padding: 15px;
    border-radius: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	}

	.contacts__map{
	height: 100%;
	width: 320px;
    margin-top: 50px;
    /*margin-bottom: 50px;*/
    display: flex;
    align-items: stretch;
	border: 4px solid rgb(11, 186, 181);
	padding: 15px;
    border-radius: 50px;
	background-color: #e9fffe;
	}

	.container__footer {
	height: 100%;
	text-align: center;
	width: 100%;
	}

	.contacts_container {
	display: block;
	align-items: center;
	padding-bottom: 50px;
	}

	.contacts__map{
    margin-top: 50px;
    /*margin-bottom: 50px;*/
    /*display: flex;*/
    /*align-items: stretch;*/
	border: 4px solid rgb(11, 186, 181);
	padding: 15px;
    border-radius: 50px;
	}

	.links-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
	}

	.specialist_block {
	flex-direction: column;
	}

	.specialist_text {
	max-width: 800px;
	}
}


/*версия мобильного*/
@media (max-width: 667px) {
	.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
    margin: 0 auto;
	}

	.menu {
	list-style-type: none;
	float: right;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	}

	.menu .active {
	color: #018e8a;
	font-weight: 700;
	border-bottom: none;
	}

	.menu li {
    float: left;
    text-align: left;
    margin-bottom: 10px;
	}

	.location {
     width: 100%;
	}

	.contacts_container {
    display: flex;
	flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
	}

	.location-1 {
    height: 320px;
    width: 320px;
    border: 4px solid rgb(11, 186, 181);
    padding: 15px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
	}

	.location i {
    display: block;
    width: 38px;
	}

	.contacts__map {
	width: 320px;
	}

	.container__footer {
	height: 100%;
	text-align: center;
	width: 100%;
	}

	.search {
	display: none;
	}

	.main_block {
	display: block;
    text-align: center;
	}

	.main_photo {
    margin-bottom: 15px;
	}
}
